@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
    color: #333;

}

a {
    text-decoration: none;
}

header{
    width: 100%;
    justify-content: center;
    background-color: hsl(0, 0%, 98%);
    align-items: center;
    border-bottom: 1px solid rgb(241, 234, 234);
    position: fixed;
    margin-bottom: 50px;
    top: 0;
    z-index: 20;
}
header nav{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    
}
header nav .logo{
    font-size: 1.5rem;
}
header nav .menu{
    padding: 10px;
    justify-content: space-between;
    text-decoration: none;
}

header nav .menu a{
    text-decoration: none;
    color: rgb(165, 161, 161);
    padding-right: 20px;
    font-weight: 700px;
    font-size: 18px;
}
header nav .req{
    background-image: linear-gradient(to right,hsl(139, 77%, 47%), hsl(244, 75%, 69%));
    color: white;
    padding: 5px 5px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 700px;
    
}
header nav .hamburger{
    display: none;
    width: 3%;
    height: 2vh;
    margin: 10px;
    justify-content: center;
    align-items: center;
    }
    header nav .hamburger span{
        display: inline-block;
        width: 90%;
        height: 5px;
        background-color: black;
        border-radius: 10px;
    }

    header nav .hamburger img{
        width: 100%;
    } 

main{
    width: 100%;
    height: 100vh;
    /* margin: 30px 10px; */
    }
    main .hero{
        width: 100%;
        height: 100vh;
    }
      
    main .hero .next{
        width: 100%;
        margin-top: 40px;
        display: flex;
        align-items: center;
        background-color:#ffff;
        height: 60vh;
        
    }
    main .hero .choose{
        width: 100%; 
        background-color: rgb(240, 238, 235);
        height: 70vh;
        /* opacity: 0.7; */
    }
    main .hero .choose .easy {
        width: 90%;
        display: block;
        margin: 30px 30px;
        /* margin-bottom: 10px; */
    }
    main .hero .choose .easy p{
       text-align: justify;
    }
    main .hero .choose .icon {
        width: 90%;
        display: flex;
        margin: 15px 15px;
        align-items: center;
        justify-content: center;
        /* background-color: aqua; */
    }
    main .hero .choose .icon .iconic {
        width: 25%;
        height: 40vh;
        margin: 15px 15px;
        /* background-color: #ffff; */
        box-shadow: 5px 5px solid black;
        border: 5px 5px green;
    }
    main .hero .choose .icon .iconic .imgg{
        margin: 10px 15px;
        width: 100%;
    }
    main .hero .choose .icon .iconic .imgg img{
        width: 2.6rem;
    }
    main .hero .choose .icon .banking {
        width: 80%;
        flex: auto;
        display: block;
       align-items: center;
        height: fit-content;
        margin: 10px 10px;
        /* background-color: red; */
    }
    main .hero .choose .icon .banking h1{
        font-size: 1rem;
    }
    main .hero .choose .icon .banking p{
        font-size: 1em;
        text-align: start;
    }
    main .hero .latest{
        height: 300px;
        
    }
    footer {
        background-color: rgb(6, 6, 41);
        padding: 2rem;
        box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    
    }
    
    .footer-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .footer-links1 {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        
        
    }
    .footer-links2{
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        
    }
    .footer-links li a {
        padding: 0.5rem 1rem;
    }
    
    .social-links {
        display: flex;
        gap: 0.5rem;
    }
    
    .social-links a img {
        width: 24px;
        height: 24px;
    }
    .flc{
        color: rgb(160, 156, 156);
    }
    
    .invit{
        background-color: #31c17b;
        color: #fff;
        padding: 0.5rem 0.5rem;
        border-radius: 20px;
        text-align: center;
    }
    .logo, .invite-copy{
        display: flex;
        flex-direction: column;
        gap: 3rem;
        
    }
    .flc:hover{
        color:#31c17b ;
    }
    .social:hover{
        background-color: #31c17b;
    }

    .copy{
        color: rgb(102, 98, 98);
    }