@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}
header{
    width: 100%;
    justify-content: center;
    background-color: hsl(0, 0%, 98%);
    align-items: center;
    border-bottom: 1px solid rgb(241, 234, 234);
    position: fixed;
}
header nav{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    
}
header nav .logo{
    font-weight: bold;
    font-size: 1.5rem;
}
header nav .menu{
    padding: 10px;
    justify-content: space-between;
    text-decoration: none;
    
    
}
header nav .menu a{
    text-decoration: none;
    color: rgb(165, 161, 161);
    padding-right: 20px;
}
header nav .req{
    background-color: rgb(77, 228, 77);
    color: white;
    padding: 15px 20px;
    border-radius: 40%;
    font-weight: bold;
    cursor: pointer;
}
header nav .hamburger{
    display: none;
    width: 40px;
    height: 30px;
    justify-content: center;
    flex-direction: column;
    justify-content: space-around;
    }
    header nav .hamburger span{
        display: inline-block;
        width: 90%;
        height: 5px;
        background-color: black;
        border-radius: 10px;
    }
main{
    height: 100vh;
    }
    main .hero .next{
        background-color:rgb(165, 161, 161);
        height: 300px;
        
    }
    main .hero .choose{
        background-color: rgb(240, 238, 235);
        height: 300px;
    }
    main .hero .latest{
        height: 300px;
        
    }
footer{
    background-color: blueviolet;
    height: 200px;
}